In [1]:
import numpy as np
import pandas as pd

In [8]:
# Níveis de índice
outside = ['G1', 'G1', 'G1', 'G2', 'G2', 'G2']
inside = [1, 2, 3, 1, 2, 3]
hier_index = list(zip(outside, inside))
print(hier_index)

hier_index = pd.MultiIndex.from_tuples(hier_index)
print(hier_index)

[('G1', 1), ('G1', 2), ('G1', 3), ('G2', 1), ('G2', 2), ('G2', 3)]

MultiIndex([('G1', 1),
            ('G1', 2),
            ('G1', 3),
            ('G2', 1),
            ('G2', 2),
            ('G2', 3)],
           )

In [10]:
df = pd.DataFrame(np.random.randn(6, 2), index=hier_index, columns=['A', 'B'])
df

             A         B
G1 1  0.499056 -0.488009
   2  1.002474 -1.468139
   3  0.500291 -0.713469
G2 1  2.193726  3.145973
   2  0.187551  0.110064
   3  0.248491  2.139515

In [15]:
df.loc['G1']

          A         B
1  0.499056 -0.488009
2  1.002474 -1.468139
3  0.500291 -0.713469

In [16]:
df.index.names = ['Grupo', 'Numero']
df

                     A         B
Grupo Numero
G1    1       0.499056 -0.488009
      2       1.002474 -1.468139
      3       0.500291 -0.713469
G2    1       2.193726  3.145973
      2       0.187551  0.110064
      3       0.248491  2.139515

In [20]:
df.xs(1, level='Numero')

              A         B
Grupo
G1     0.499056 -0.488009
G2     2.193726  3.145973